:root{
    --green: #5ea483;
    --beige: #c9b993;
    --dark-blue: #3f518b;
    --gray-blue: #889fbc;
    --gray-white: #f9f9f9;
    --sky-blue: #B6DFFA;
    --pastel-purple: #BF9DC5;
    --pastel-yellow: #F2E271;
    --orange: #F1B97B;
    --red: #FB776B;
    --font-title: 'Rubik Beastly';
    --font-text: 'Varela Round';
}

body{
    background-color: var(--green);
}

.container-menu, .bi{
    display: inline-block;
    cursor: pointer;
    width: 65px;
    height: 58px;
    border-radius: 5px;
    background-color: var(--dark-blue);
}

.line1, .line2, .line3{
    height: 5px;
    width: 40px;
    background-color: var(--gray-blue);
    margin: 10px 13px;
    transition: 0.4s;   
}

.Active .line2{
    opacity: 0;
}

.Active .line1{
    transform: rotate(-40deg) translate(-12px,11px);
}

.Active .line3{
    transform: rotate(40deg) translate(-10px,-10px);
}

.bi{
    display: none;
}

.Active .bi{
    margin-top: 3vh;
    display: flex;  
}

.title{
    display: flex;
    justify-content: center;
}

.container-letter{
    height: 85px;
    width: 15vw;
    font-family: var(--font-title);
    font-size: 4rem;
    text-align: center;
    color: var(--gray-white);
    margin-right: 1vw;
}

.l1{
    background: var(--sky-blue);
}

.l2{
    background: var(--pastel-purple);
}

.l3{
    background: var(--pastel-yellow);
}

.l4{
    background: var(--orange);
}

.l5{
    background: var(--red);
}

.l2,.l4{
    margin-top: 5vh;
}

main .piano{
    display: grid;
    grid-template-columns: 1fr;
}

.acordion {
    cursor: pointer;
    background: var(--dark-blue);
    color: var(--beige);
    padding: 15px;
    width: 100%;
    border: none;
    text-align: left;
    font-family: var(--font-text);
    font-size: 1rem;
}

.showContent, .acordion:hover{
    background-color: rgb(62, 62, 105)
}

.text{
    display: none;
}

@media screen and (min-width: 640px) {
    .opciones{
        display: grid;
        grid-template-columns: 1fr;
        justify-items: center;
    }

    .container-letter{
        width: 75px;
    }

    .acordion , .text{
        width: 70%;
        text-align: center;
    }
}

@media screen and (min-width: 768px) {
    .opciones{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-items: center;
    }

    .acordion{
        width: 50%;
    }

    .bg-modal{
        box-sizing: border-box;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.7);
        position: absolute;
        top: 0;
        left: 0;
        transition: 0.4s;
    }

    .modal{
        top: 50%;
        left: 50%;
        background: #A57D7D;
        width: 500px;
        position:absolute;
        text-align: center;
        transform: translate(-50%, -50%);
        border: 1.5px solid #FF0099;
    }

    .close{
        cursor: pointer;
        width: 15px;
        height: 15px;
        background-color: crimson;
    }

    .showContent{
        background-color: var(--dark-blue);
    }
}

@media screen and (min-width: 1024px) {
    
}

@media screen and (min-width: 1280px) {
    
}



